@use '@angular/material' as mat;

$theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  )
));

body {
  @include mat.core-theme($theme);
  @include mat.form-field-theme($theme);
  @include mat.input-theme($theme);
  @include mat.select-theme($theme);
  @include mat.expansion-theme($theme);
  --mat-expansion-header-collapsed-state-height: 54px;
  --mat-expansion-header-expanded-state-height: 54px;
  --mat-expansion-container-shape: 4px;
  --mat-expansion-container-background-color: transparent;

  .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline .mdc-notched-outline__notch,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch {
    border-right-width: 0px;
  }

  .mat-mdc-form-field {
    --mat-mdc-form-field-floating-label-scale: 0.9;
  }

  .mat-mdc-form-field-bottom-align {
    display: none;
  }

  .mat-expansion-panel {
    border-color: var(--mdc-outlined-text-field-outline-color, var(--mat-app-outline));
    border-width: var(--mdc-outlined-text-field-outline-width);
  }

  .mat-expansion-panel-content {
    border-color: var(--mdc-outlined-text-field-outline-color, var(--mat-app-outline));
    border-top-width: var(--mdc-outlined-text-field-outline-width);
  }
}

@include mat.core();
@include mat.color-variants-backwards-compatibility($theme);
