@use './m3-theme.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-base: #2F2F2F;
  --these-base-text: #eee7d9;
}

.logo-nav {
  height: 94px;
  padding: 12px;
  width: auto;
}

.logo-home .logo-nav {
  height: 200px;
}

.bg-base-offset {
  background: var(--theme-base);
  color: var(--these-base-text);
}

.stretch-layout {
  @apply min-h-screen flex flex-col;
}

.highcharts-credits {
  display: none !important;
}

svg.highcharts-root {
  width: 100% !important;
  height: auto !important;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: .3s;
}

.main-nav li {
  a {
    @apply inline-block rounded px-4 py-2 mx-4 hover:bg-red-800 focus:bg-red-800 focus:ring-2 focus:ring-red-300 focus:outline-none;
    color: var(--these-base-text);

    &.active-link{
      text-decoration: underline;
      text-underline-offset: 8px;
      text-decoration-thickness: 2px;
    }
  }
}
